
.scrollToTop {
  cursor: pointer;
  display: block;
  position: fixed;
  right: 0; bottom: 0;
  z-index: 10;
  margin-bottom: 0;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-bottom: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  font-size: 1em;
  background: #000;
  border-color: #000;
  color: #fff;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.scrollToTop-visible {
  transition: opacity .3s 0s, visibility 0s 0s;
  visibility: visible;
  opacity: .5;
}

.scrollToTop:hover,
.scrollToTop:focus {
  opacity: 1;
  color: #fff;
}
